ode/ode-models/BPELfbs/bpelContent/FBS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://axis.fbs.tudresden.io" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://beans.axis.fbs.tudresden.io/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://axis.fbs.tudresden.io">
    <wsdl:documentation>Interface for accessing the IoTUDresden FeedbackService
		</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.axis.fbs.tudresden.io/xsd">
            <xs:complexType name="Workflow">
                <xs:sequence>
                    <xs:element minOccurs="0" name="valid" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FeedbackResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://beans.axis.fbs.tudresden.io/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://axis.fbs.tudresden.io">
            <xs:import namespace="http://beans.axis.fbs.tudresden.io/xsd"/>
            <xs:element name="runFeedbackService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="goal" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="workflow" nillable="true" type="ax22:Workflow"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="runFeedbackServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:FeedbackResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloWorld">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="helloWorldResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="runFeedbackServiceRequest">
        <wsdl:part name="parameters" element="ns:runFeedbackService"/>
    </wsdl:message>
    <wsdl:message name="runFeedbackServiceResponse">
        <wsdl:part name="parameters" element="ns:runFeedbackServiceResponse"/>
    </wsdl:message>
    <wsdl:message name="helloWorldRequest">
        <wsdl:part name="parameters" element="ns:helloWorld"/>
    </wsdl:message>
    <wsdl:message name="helloWorldResponse">
        <wsdl:part name="parameters" element="ns:helloWorldResponse"/>
    </wsdl:message>
    <wsdl:portType name="FeedbackServicePortType">
        <wsdl:operation name="runFeedbackService">
            <wsdl:input message="ns:runFeedbackServiceRequest" wsaw:Action="urn:runFeedbackService"/>
            <wsdl:output message="ns:runFeedbackServiceResponse" wsaw:Action="urn:runFeedbackServiceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="helloWorld">
            <wsdl:input message="ns:helloWorldRequest" wsaw:Action="urn:helloWorld"/>
            <wsdl:output message="ns:helloWorldResponse" wsaw:Action="urn:helloWorldResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FeedbackServiceSoap11Binding" type="ns:FeedbackServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="runFeedbackService">
            <soap:operation soapAction="urn:runFeedbackService" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="helloWorld">
            <soap:operation soapAction="urn:helloWorld" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FeedbackServiceSoap12Binding" type="ns:FeedbackServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="runFeedbackService">
            <soap12:operation soapAction="urn:runFeedbackService" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="helloWorld">
            <soap12:operation soapAction="urn:helloWorld" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="FeedbackServiceHttpBinding" type="ns:FeedbackServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="runFeedbackService">
            <http:operation location="runFeedbackService"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="helloWorld">
            <http:operation location="helloWorld"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FeedbackService">
        <wsdl:port name="FeedbackServiceHttpSoap11Endpoint" binding="ns:FeedbackServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/FeedbackService.FeedbackServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FeedbackServiceHttpSoap12Endpoint" binding="ns:FeedbackServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/FeedbackService.FeedbackServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="FeedbackServiceHttpEndpoint" binding="ns:FeedbackServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/FeedbackService.FeedbackServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
